
html{
    background-color: rgb(102, 102, 102);
}

body{
    background-color: rgb(102, 102, 102);
}

.header{
    display: block;
    padding: 30px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
}

.note-section{
    background-color: rgb(102, 102, 102);
}

.input textarea{
    box-sizing: border-box;
}

.noClock{
    pointer-events: none;
}